@model ProductListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-order="@(Model.Order == "asc" ? "desc" : "asc")" asp-route-orderBy="ProductName">Product Name</a>
            </th>

            <th>
                <a asp-action="Index" asp-route-order="@(Model.Order == "asc" ? "desc" : "asc")" asp-route-orderBy="UnitPrice">UnitPrice</a>
            </th>
            <th>
                UnitsInStock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<product-list-pager
current-category="@Model.CurrentCategory"
current-page="@Model.CurrentPage"
page-count="@Model.PageCount"
page-size="@Model.PageSize"
>

</product-list-pager>